/* Colors */

/* RED */
/* #cc3d55  */

/* RED HOVER */
/* #8d2537 */

/* CREAM */
/* #f5f5f5 */

/* FOOTER */
/* #5e6166 */

/* LINKS */
/* #0085a7 */

.card {
  min-width: 18rem !important;
}

.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

/* ----------------------------------- */

.App {
  text-align: center;
}
