/* ----------------APP--------------------- */

.App {
  text-align: center;
  height: 100vh;
}

.btn-primary {
  background-color: #cc3d55;
  border-color: transparent;
}

.btn-primary:hover {
  background-color: #8d2537;
  border-color: transparent;
}

h1 {
  font-size: 3rem;
}


/* ----------------NAVBAR--------------------- */

nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1)
}

.navbar-light .navbar-brand {
  color: #cc3d55;
}

.navbar-light .navbar-brand:hover {
  color: #8d2537;
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.bg-light {
  background-color: #ffff !important;
}


