/* ----------------CONTAINERS--------------------- */

.bookRow {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#cardCol {
  min-width: 300px;
  margin-bottom: 10px;
  margin-top: 8px;
}

#bookCol {
  margin-bottom: 10px;
  margin-top: 8px;
  padding-right: 30px;
  padding-left: 30px;
}

/* ----------------INTERACTIVE BOOKING--------------------- */

#noInput {
  display: none;
}

#guests {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bookForm {
  padding: 15px;
  h4 {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
  }
}

#guests.form-group {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#guestInput {
  justify-content: center;
  align-items: center;
  align-content: center;
  border: 1px solid black;
  border-radius: 0;
  margin-bottom: 30px;
  width: 50%;
}

.datepicker {
  height: 100%;
  background-color: white;
  min-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

#bookHeader {
  padding-top: 55px;
  color: #cc3d55;
}

/* ----------------DATE/TIME PICKER--------------------- */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.react-calendar__month-view__days__day--weekend {
  color: black !important;
}

#endDate {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 12px;
  color: #cc3d55;
}

/* ----------------VENUE DISPLAY--------------------- */

.card-body {
  justify-content: center;
}

#bookDetail {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  border-top: 1px solid #cc3d55;
}
