#cardCol {
  min-width: 300px;
}

.card-body {
  justify-content: center
}

#bookDetail {
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 15px;
  border-top: 1px solid #cc3d55; 
}

.bookRow {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.datepicker {
  height: 100%;
  background-color: white;
  min-width: 300px;
}

#bookHeader {
  padding-top: 55px;
  color: #cc3d55;
}